kube-prometheus-stack:
 
  prometheusOperator:
    crds:
      enabled: false

  grafana:
    enabled: true
    adminPassword: "admin"
    service:
      type: ClusterIP

  prometheus:
    prometheusSpec:
      retention: 2d

  alertmanager:
    enabled: false