kube-prometheus-stack:
  grafana:
    enabled: true
    adminPassword: "admin"
    service:
      type: ClusterIP

  prometheus:
    prometheusSpec:
      retention: 2d
    prometheusOperator:
      crds:
        enabled: false

  alertmanager:
    enabled: false