loki:
  enabled: true
  deploymentMode: SingleBinary

  loki:
    commonConfig:
      replication_factor: 1
    auth_enabled: false

    storage:
      type: filesystem

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
      storageClass: local-path