loki:
  deploymentMode: SingleBinary
  singleBinary:
    replicas: 1
  persistence:
    enabled: true
    size: 5Gi

fluent-bit:
  config:
    outputs: |
      [OUTPUT]
          Name grafana-loki
          Match *
          Url http://logging-loki:3100/loki/api/v1/push